{% extends 'base.html.twig' %}
{# {% block stylesheets %}
    {{ parent() }}
{% endblock %} #}
{% block title %}Espace étudiant{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col-md-4 offset-md-4'>
            <center><h3>Afficher une liste</h3>
				<button type="button" class="btn btn-success"><a href="{{ path('student_presence') }}" class="text-reset">Liste présences</a></button>
                <button type="button" class="btn btn-danger"><a href="{{ path('student_absence') }}" class="text-reset">Liste absences</a></button>
            </center>
        </div>
    </div>

	<div>
		{% if uuid != "" %}
		{% if code == 0 %}
			<p>Votre présence a bien été validée.</p>

			<button type="button" class="btn btn-primary"><a href="{{ path('download_certificat', {uuid: uuid}) }}">Télécharger le certificat de présence</a></button>
		{% elseif code == 1 %}
			<p>Vous êtes déjà noté présent à ce cours.</p>

			<button type="button" class="btn btn-primary"><a href="{{ path('download_certificat', {uuid: uuid}) }}">Télécharger à nouveau le certificat de présence</a></button>
		{% elseif code == 2 %}
			<p id="messageError">Ce cours n'existe pas ou est maintenant terminé.</p>
		{% endif %}
	{% endif %}
	</div>
{% endblock %}