{% extends 'base.html.twig' %}
{% block title %}Mes absences{% endblock %}
{% block content %}
    <div class="table">
        <h3>Liste de vos absences</h3>

        {% if absents|length %}
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Token</th>
                        <th>Formation</th>
                        <th>Matière</th>
                        <th>Prénom enseignant</th>
                        <th>Nom enseignant</th>
                        <th>Justificatif</th>
                    </tr>
                </thead>
                <tbody>
                    {% for absent in absents %}
                        <tr>
                            <td data-label="Date">{{ absent.date }}</td>
                            <td data-label="Type de cours">{{ absent.type }}</td>
                            <td data-label="Token">{{ absent.token }}</td>
                            <td data-label="Formation">{{ absent.nom_formation }}</td>
                            <td data-label="Matière">{{ absent.nome_matiere }}</td>
                            <td data-label="Prénom enseignant">{{ absent.firsname }}</td>
                            <td data-label="Nom enseignant">{{ absent.lastname }}</td>

                            {% if absent.id not in justificatifs %}
                                <td data-label="Justificatif">
                                    <form id="form" enctype="multipart/form-data" method="POST" action="{{ path('download_justificatif') }}">
                                        <input id="file" type="file" name="justif" />
                                        <input type="hidden" name="coursId" value="{{ absent.id }}" />
                                        <br />
                                        <button class="btn btn-primary" type="submit">Télécharger</button>
                                    </form>
                                </td>
                            {% else %}
                                <td>Un justificatif est déjà envoyé</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div>
                <i>Vous n'avez jamais été absent</i>
            </div>
        {% endif %}
    </div>
{% endblock %}