{% extends 'base.html.twig' %}

{% block title %}Hello TeacherController!{% endblock %}

{% block content %}



<div id="boutons">
    <div>
      <button type="button" class="btn btn-primary" id="consulterPresence">Consulter présences</button>
      <ul style="display: none" id="liste1">
        <h3>Élèves présents lors du dernier cours</h3>

        {% for present in presents %}
          <li>{{present.firsname}} {{present.lastname}}</li>
        {% endfor %}
      </ul>
	  </div>

    <div>
		  <button type="button" class="btn btn-primary" id="consulterAbsence">Consulter absences</button>
      <ul style="display: none" id="liste2">
        <h3>Élèves absents lors du dernier cours</h3>

        {% for absent in absents %}
          <li>{{absent.firsname}} {{absent.lastname}}</li>
        {% endfor %}
      </ul>
	  </div>

    <div><button type="button" class="btn btn-primary" id="faireApple">Faire l'appel</button></div>
</div>


<form id="generateQrCode" method="POST" action="/generate_qr_code" style="display:none">
  <div class="form-group">
    <label for="formation">Sélectionner une formation</label>
    <div id="error1"></div>
    <select class="form-control" id="formation" name="formation"  >
      <option></option>
      {% for noms_formation in noms_formations %}
        <option>{{noms_formation.nom_formation}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="matiere">Sélectionner une matiere</label>
    <div  id="error2"></div>
    <select class="form-control" id="matiere" name="matiere">
      <option></option>
    {% for noms_matiere in noms_matieres %}
      <option>{{noms_matiere.nome_matiere}} </option>
    {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="typeCours">Sélectionner le type du cours</label>
    <div id="error3"></div>
    <select class="form-control" id="typeCours" name="typeCours">
        <option></option>
        <option>CM</option>
        <option>TD</option>
        <option>TP</option>
    </select>
  </div>
  <div class="form-group">
    <label for="numGroupe">Sélectionner le numéro du groupe TD/TP</label>
    <select multiple class="form-control" id="numGroupe" name="numGroupe">
        <option></option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
  </div>
  <div class="generateCode">
    <button type="submit" class="btn btn-primary" name="generateQrCode">Générer un qr code</button>
    {# <a href="{{ path('generate_code') }}" class="btn btn-primary">Générer un code</a> #}
</div>
</form>


{% endblock %}
